extends ./layout
block content
  ul#test
  //  each usuario in usuarios
      li= usuario.nombre
block append script
  script(src='/javascripts/iterator.js')
  script(src='/javascripts/iteratorObject.js')
